h1,h2
{
	font-family:'Georgia','Times New Roman',Times,serif;
}
	h2
	{
		color:#999;
	}
	
	label
	{
		font-size:14px;
		font-weight:bold;
	}
	input[type="text"], input[type="password"]
	{
		float: right;
	}
	input[type="submit"]
	{
		background-color: #078EA0;
		border: 1px solid #0094A7;
		color: #FFFFFF;
		font-size: 14px;
	}
	.error
	{
		font-size:11px;
		color:#cc0000;
		padding:4px;
	}

